/* CSS Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Utilities */
.container {
	margin: 0 auto;
	max-width: 540px;
}

/* Body  */
body {
	
	padding: 26px;
	font-family: Verdana, sans-serif;
	background-color: rgb(238, 181, 245);
	background-image: url("images/sfondo.jpg");
	background-size: cover 50px;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin-bottom: 16px;
}

h1 {
	color: rgb(255, 255, 255);
	font-size: 30px;
}

/* Panel */
.panel {
	padding: 10px;
	border-radius: 26px;
	background-color: rgb(200, 129, 218, 0.5);
}

/* AddTo*/
.add-todo {
	display: flex;
	gap: 8px;
	margin-top: 16px;
}

input {
	font-family: 'Courier New', Courier, monospace;
	font-size: 16px;
	padding: 6px;
	text-align: center;
	color: rgb(94, 46, 139);
	background-color: rgb(229, 245, 241, 0.5);
	border-radius: 23px;
	border: none;
	flex-grow: 1;
}

textarea {
	font-family: 'Courier New', Courier, monospace;
	font-size: 16px;
	text-align: center;
	color: rgb(94, 46, 139);
	background-color: rgb(229, 245, 241, 0.5);
	border: none;
	border-radius: 23px;
	max-width:max-content;
}

button {
	cursor: pointer;
	padding: 6px;
	border: none;
	border-radius: 20px;
	background-color: rgba(182, 245, 198, 0);
	border-width: 20px;
	border-color: #4e244e;
}

.buttondark {
	background-color: rgb(130, 80, 134, 0.9);
	border-radius: 50px;
}

.dark-mode {
	background-color: #4e244e;
	background-image: url("images/sfondo-dark.jpg");
	background-size: cover;
	color: #000000;
	border-radius: 50px;
}

/* Empty List Message */

.empty-list-message {
	text-align: center;
	font-weight: bold;
	color: rgb(130, 80, 134);
	font-family: 'Gill Sans';
	font-size: 23px;
}

.todo-item {
	display: flex;
	align-items: center;
	list-style-type: none;
	background-color: rgb(229, 245, 241, 0.6);
	margin: 16px 0;
	border-radius: 16px;
}

.todo-details {
	flex-grow: 1; /* Fai espandere questa parte del flex container per occupare lo spazio rimanente */
	padding: 26px;
	display: flex; /* Utilizza flexbox per allineare gli elementi */
	justify-content: space-between; /* Allinea gli elementi alla fine della flex container */
	flex-wrap: wrap; /* Avvolgi gli elementi se non ci sono abbastanza spazio */
}
.todo-details {
	flex-grow: 1;
	padding: 26px;
	display: flex;
	flex-direction: column; /* Cambia la direzione in colonna */
	justify-content: flex-start; /* Allinea gli elementi all'inizio della colonna */
  }
  
  .todo-text {
	font-family: Lucida Handwriting, sans-serif;
	font-size: 18px;
  }
  
  
  .todo-notes {
	font-family: Lucida Handwriting, sans-serif;
	font-size: 12px;
	margin-top: 5px; /* Aggiunge uno spazio tra gli elementi */
  }
  .todo-date{
	font-family: Lucida Handwriting, sans-serif;
	font-size: 10px;
	margin-top: 5px; /* Aggiunge uno spazio tra gli elementi */
  }
.details{
padding: 20px;

}
.todo-check {
	cursor: pointer;
	padding: 16px;
	border-radius: 16px 0 0 16px;
	background-color: rgb(182, 245, 198, 0.5);
}

.modal {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
	background-color: rgba(237, 189, 247, 0.747);
	margin: 15% auto;
	min-width: 120px;
	padding: 3%;
	display: block;
	border: 1px solid #888;
	font-family: 'Courier New', Courier, monospace;
	border-radius: 20px;
	width: 450px;
}

.add-details-button {
	float: right;
	padding: 15px;
}
.linkedin{
    text-align: center;
    justify-content: center;
    font-size: 15px;
    font-weight: 200;
    color: rgb(182, 138, 202);
}
a{
    color: rgb(187, 127, 255);
}